@import url(../../../../common/styles/constant.module.less);
@import url(../../../../common/styles/animation.module.less);

.item {
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  .shadow();
  background-color: white;
  box-sizing: border-box;
  font-size: 15px;
  .bottom2TopAni(0);
  &Content {
    word-break: break-all;
    white-space: pre-wrap;
    color: @MAIN_FONT_COLOR;
  }
}
