@import url("https://at.alicdn.com/t/font_3035283_4drj1g5axpl.css");
body {
  margin: 0;
  background: linear-gradient(to bottom, #eef3fb, #e8edf4);
  min-height: 100vh;
  width: 375px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
